{
  "apikey": "Watson Assistant skill apikey",
  "url": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/ba6823ad-59c1-4b3a-93a4-33923664c80d",
  "assistantId": "fccf0c80-4760-4ddd-9f89-46319fc5a195",
  "version": "2019-02-28"
}
